@import "reset.css";
@import "normalize.css";
@import "<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>";

body{
	font: normal 14px, arial;
	color: #999;
	background: gray;
}

.wrap{
	width: 400px;
	margin: 0 auto;
}

.task-list{
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 5%;
	padding: 22px 6%;
}
.tasklength{
	margin-top: 20px;
	width: 100%;
	height:	50px ;
}

.lengthbutton{
	margin: 0 auto;
	display: inline-block;
}
.header{
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	margin-top:30%;
	color: white;
}